{% extends "base.html" %}
{% block content %}
    <h2>Problem Description</h2>
    <p>
        I am trying to create an api for consumption by my own app via backbone.js.
        I have the need to display attributes of related resources (read only) in many of my views.
        In this example I have an albums resource and a tracks resource (also artists - but we can exclude that for now).
        I want to display a listing of tracks along with the album name - each track may be from a different album.
        By default `album = fields.ToOneField('AlbumResource', 'album')` will only give me the url so I cannot grab the album name without additional http requests and stitching the data back together.
        On the other hand if I use album = fields.ToOneField('AlbumResource', 'album', full=True) I get the album information which is good.
        The problem is that the resulting json can not be put back to the server to be updated (it simply will not work - it appears tasty is not designed to do this, which is probably the right thing).
        What is the best way to do this?
        I want extra read only attributes of a related resources but also what to be able to use the same resource for updating.
    </p>
    <ul>
        <li>API - <a href="/playlist/api/v1/?format=json">/playlist/api/v1/?format=json</a></li>
    </ul>
    <p>
        I need full album data on each track for view purposes - a track json will look like this <a href="/playlist/api/v1/tracks/1/?format=json">/playlist/api/v1/tracks/1/?format=json</a>
    </p>
    <pre>
    {"album": {"id": "1", "resource_uri": "/playlist/api/v1/albums/1/", "title": "Physical Graffiti"}, "id": "1", "resource_uri": "/playlist/api/v1/tracks/1/", "title": "Custard Pie", "track_number": 1}
    </pre>
    My hope would be that I could change the track infomration in this model and post it back but that does not seem to work
    <pre>
    curl -H 'Content-Type: application/json' -X PUT --data @- "http://localhost:8000/playlist/api/v1/tracks/1/"
    {"album": {"id": "1", "resource_uri": "/playlist/api/v1/albums/1/", "title": "Physical Graffiti"}, "id": "1", "resource_uri": "/playlist/api/v1/tracks/1/", "title": "Custard Pie - title change", "track_number": 1}
    ctrl+d
    </pre>
    <p>
        With this example you will get FieldError: Cannot resolve keyword 'resource_uri' into field. Choices are: artist, id, title, track\n"}s<br>
        With other examples where the related resource (album) has date/datetimes in them they do not get properly formatted and you will get an error: Enter a valid date/time in YYYY-MM-DD HH:MM[:ss[.uuuuuu]] format.
    </p>
{% endblock %}